<div class="side-modal-overflow" *ngIf="player" (click)="cancelEdit()">
</div>
<div class="player-edit-modal" *ngIf="player">
  <div>
    <p class="modal-card-title">Modal title</p>
  </div>
  <div class="edit-form">
    <form [formGroup]="playerForm" class="pure-form">
      <div class="field">
        <label class="label">Player Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="Player name" required name="player-name" formControlName="name">
        </div>
      </div>
      <div class="field">
        <label class="label">Initiative Bonus</label>
        <div class="control">
          <input class="input" type="number" placeholder="Initiative Bonus" required name="initiative-bonus" formControlName="initiativeBonus">
        </div>
      </div>
      <div class="field">
        <label class="label">Maximum Hit Points</label>
        <div class="control">
          <input class="input" type="number" placeholder="Maximum hit points" required name="maximum-hit-points" formControlName="maximumHitPoints">
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button type="button" [disabled]="!playerForm.valid" (click)="savePlayer(playerForm.value)" class="button is-link">{{player?.id ? 'Save' : 'Add'}}</button>
        </div>
        <div class="control">
          <button type="button" (click)="cancelEdit()" class="button is-light">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
