.side-modal-overflow{
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
}

.player-edit-modal{
  position: fixed;
  padding: 10px 5px 10px 10px;
  height: 100%;
  width: 30%;
  right: 0;
  top: 0;
  background-color: white;
  border: 1px solid black;
  z-index: 31;
  .edit-form{

  }
}
