// Icons
// -------------------------


[data-icons8]:before,
.icons8-aed:before,
.icons8-aed-2:before,
.icons8-angel:before,
.icons8-archer:before,
.icons8-arrow-pointing-to-right:before,
.icons8-battle:before,
.icons8-body-armor:before,
.icons8-cat-footprint:before,
.icons8-cat-footprint-2:before,
.icons8-close-button:before,
.icons8-clover:before,
.icons8-danger-sign-with-skull:before,
.icons8-deaf:before,
.icons8-defense:before,
.icons8-defense-filled:before,
.icons8-deltohedron:before,
.icons8-dice:before,
.icons8-dodecahedron:before,
.icons8-edit:before,
.icons8-edit-2:before,
.icons8-equestrian-statue:before,
.icons8-fencing:before,
.icons8-german-shepherd:before,
.icons8-german-shepherd-2:before,
.icons8-grim-reaper:before,
.icons8-head-silhouette-with-cogwheels:before,
.icons8-head-silhouette-with-cogwheels-2:before,
.icons8-hiragana-ki:before,
.icons8-hiragana-ki-2:before,
.icons8-horse:before,
.icons8-icosahedron:before,
.icons8-judo:before,
.icons8-left-arrow:before,
.icons8-mad:before,
.icons8-mad-2:before,
.icons8-magic-wand:before,
.icons8-magic-wand-2:before,
.icons8-mana:before,
.icons8-mana-filled:before,
.icons8-meditation:before,
.icons8-meditation-2:before,
.icons8-minecraft-axe:before,
.icons8-minecraft-sword:before,
.icons8-minus:before,
.icons8-minus-2:before,
.icons8-musical-filled:before,
.icons8-next-track-button:before,
.icons8-next-track-button-2:before,
.icons8-night-portrait:before,
.icons8-octahedron:before,
.icons8-ok:before,
.icons8-parchment:before,
.icons8-plus-sign:before,
.icons8-plus-sign-2:before,
.icons8-praying-symbol:before,
.icons8-punching:before,
.icons8-question-mark:before,
.icons8-refresh:before,
.icons8-rewind-button:before,
.icons8-rewind-button-2:before,
.icons8-shield:before,
.icons8-skull:before,
.icons8-slot-machine:before,
.icons8-sword:before,
.icons8-treatment:before,
.icons8-triforce:before,
.icons8-triggering:before,
.icons8-xbox-cross:before,
.icons8-yin-yang-outline:before,
{ @include icons8-font; }

[data-icons8]:before { content: attr(data-icons8); }

.icons8-aed:before { content: $icons8-var-aed; }
.icons8-aed-2:before { content: $icons8-var-aed-2; }
.icons8-angel:before { content: $icons8-var-angel; }
.icons8-archer:before { content: $icons8-var-archer; }
.icons8-arrow-pointing-to-right:before { content: $icons8-var-arrow-pointing-to-right; }
.icons8-battle:before { content: $icons8-var-battle; }
.icons8-body-armor:before { content: $icons8-var-body-armor; }
.icons8-cat-footprint:before { content: $icons8-var-cat-footprint; }
.icons8-cat-footprint-2:before { content: $icons8-var-cat-footprint-2; }
.icons8-close-button:before { content: $icons8-var-close-button; }
.icons8-clover:before { content: $icons8-var-clover; }
.icons8-danger-sign-with-skull:before { content: $icons8-var-danger-sign-with-skull; }
.icons8-deaf:before { content: $icons8-var-deaf; }
.icons8-defense:before { content: $icons8-var-defense; }
.icons8-defense-filled:before { content: $icons8-var-defense-filled; }
.icons8-deltohedron:before { content: $icons8-var-deltohedron; }
.icons8-dice:before { content: $icons8-var-dice; }
.icons8-dodecahedron:before { content: $icons8-var-dodecahedron; }
.icons8-edit:before { content: $icons8-var-edit; }
.icons8-edit-2:before { content: $icons8-var-edit-2; }
.icons8-equestrian-statue:before { content: $icons8-var-equestrian-statue; }
.icons8-fencing:before { content: $icons8-var-fencing; }
.icons8-german-shepherd:before { content: $icons8-var-german-shepherd; }
.icons8-german-shepherd-2:before { content: $icons8-var-german-shepherd-2; }
.icons8-grim-reaper:before { content: $icons8-var-grim-reaper; }
.icons8-head-silhouette-with-cogwheels:before { content: $icons8-var-head-silhouette-with-cogwheels; }
.icons8-head-silhouette-with-cogwheels-2:before { content: $icons8-var-head-silhouette-with-cogwheels-2; }
.icons8-hiragana-ki:before { content: $icons8-var-hiragana-ki; }
.icons8-hiragana-ki-2:before { content: $icons8-var-hiragana-ki-2; }
.icons8-horse:before { content: $icons8-var-horse; }
.icons8-icosahedron:before { content: $icons8-var-icosahedron; }
.icons8-judo:before { content: $icons8-var-judo; }
.icons8-left-arrow:before { content: $icons8-var-left-arrow; }
.icons8-mad:before { content: $icons8-var-mad; }
.icons8-mad-2:before { content: $icons8-var-mad-2; }
.icons8-magic-wand:before { content: $icons8-var-magic-wand; }
.icons8-magic-wand-2:before { content: $icons8-var-magic-wand-2; }
.icons8-mana:before { content: $icons8-var-mana; }
.icons8-mana-filled:before { content: $icons8-var-mana-filled; }
.icons8-meditation:before { content: $icons8-var-meditation; }
.icons8-meditation-2:before { content: $icons8-var-meditation-2; }
.icons8-minecraft-axe:before { content: $icons8-var-minecraft-axe; }
.icons8-minecraft-sword:before { content: $icons8-var-minecraft-sword; }
.icons8-minus:before { content: $icons8-var-minus; }
.icons8-minus-2:before { content: $icons8-var-minus-2; }
.icons8-musical-filled:before { content: $icons8-var-musical-filled; }
.icons8-next-track-button:before { content: $icons8-var-next-track-button; }
.icons8-next-track-button-2:before { content: $icons8-var-next-track-button-2; }
.icons8-night-portrait:before { content: $icons8-var-night-portrait; }
.icons8-octahedron:before { content: $icons8-var-octahedron; }
.icons8-ok:before { content: $icons8-var-ok; }
.icons8-parchment:before { content: $icons8-var-parchment; }
.icons8-plus-sign:before { content: $icons8-var-plus-sign; }
.icons8-plus-sign-2:before { content: $icons8-var-plus-sign-2; }
.icons8-praying-symbol:before { content: $icons8-var-praying-symbol; }
.icons8-punching:before { content: $icons8-var-punching; }
.icons8-question-mark:before { content: $icons8-var-question-mark; }
.icons8-refresh:before { content: $icons8-var-refresh; }
.icons8-rewind-button:before { content: $icons8-var-rewind-button; }
.icons8-rewind-button-2:before { content: $icons8-var-rewind-button-2; }
.icons8-shield:before { content: $icons8-var-shield; }
.icons8-skull:before { content: $icons8-var-skull; }
.icons8-slot-machine:before { content: $icons8-var-slot-machine; }
.icons8-sword:before { content: $icons8-var-sword; }
.icons8-treatment:before { content: $icons8-var-treatment; }
.icons8-triforce:before { content: $icons8-var-triforce; }
.icons8-triggering:before { content: $icons8-var-triggering; }
.icons8-xbox-cross:before { content: $icons8-var-xbox-cross; }
.icons8-yin-yang-outline:before { content: $icons8-var-yin-yang-outline; }

