/*
 * Icon Font font_icons8
 * Made with love by Icons8 [ https://icons8.com/ ] using FontCustom [ https://github.com/FontCustom/fontcustom ]
 *
 * Contacts:
 *    [ https://icons8.com/contact ]
 *
 * Follow Icon8 on
 *    Twitter [ https://twitter.com/icons_8 ]
 *    Facebook [ https://www.facebook.com/Icons8 ]
 *    Google+ [ https://plus.google.com/+Icons8 ]
 *    GitHub [ https://github.com/icons8 ]
 */


@font-face {
  font-family: "font_icons8";
  src: url("../fonts/font_icons8.eot");
  src: url("../fonts/font_icons8.eot?#iefix") format("embedded-opentype"),
       url("../fonts/font_icons8.woff2") format("woff2"),
       url("../fonts/font_icons8.woff") format("woff"),
       url("../fonts/font_icons8.ttf") format("truetype"),
       url("../fonts/font_icons8.svg#font_icons8") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "font_icons8";
    src: url("../fonts/font_icons8.svg#font_icons8") format("svg");
  }
}

[data-icons8]:before { content: attr(data-icons8); }

.icons8, [data-icons8]:before,
.icons8-aed:before,
.icons8-aed-2:before,
.icons8-angel:before,
.icons8-archer:before,
.icons8-arrow-pointing-to-right:before,
.icons8-battle:before,
.icons8-body-armor:before,
.icons8-cat-footprint:before,
.icons8-cat-footprint-2:before,
.icons8-close-button:before,
.icons8-clover:before,
.icons8-danger-sign-with-skull:before,
.icons8-deaf:before,
.icons8-defense:before,
.icons8-defense-filled:before,
.icons8-deltohedron:before,
.icons8-dice:before,
.icons8-dodecahedron:before,
.icons8-edit:before,
.icons8-edit-2:before,
.icons8-equestrian-statue:before,
.icons8-fencing:before,
.icons8-german-shepherd:before,
.icons8-german-shepherd-2:before,
.icons8-grim-reaper:before,
.icons8-head-silhouette-with-cogwheels:before,
.icons8-head-silhouette-with-cogwheels-2:before,
.icons8-hiragana-ki:before,
.icons8-hiragana-ki-2:before,
.icons8-horse:before,
.icons8-icosahedron:before,
.icons8-judo:before,
.icons8-left-arrow:before,
.icons8-mad:before,
.icons8-mad-2:before,
.icons8-magic-wand:before,
.icons8-magic-wand-2:before,
.icons8-mana:before,
.icons8-mana-filled:before,
.icons8-meditation:before,
.icons8-meditation-2:before,
.icons8-minecraft-axe:before,
.icons8-minecraft-sword:before,
.icons8-minus:before,
.icons8-minus-2:before,
.icons8-musical-filled:before,
.icons8-next-track-button:before,
.icons8-next-track-button-2:before,
.icons8-night-portrait:before,
.icons8-octahedron:before,
.icons8-ok:before,
.icons8-parchment:before,
.icons8-plus-sign:before,
.icons8-plus-sign-2:before,
.icons8-praying-symbol:before,
.icons8-punching:before,
.icons8-question-mark:before,
.icons8-refresh:before,
.icons8-rewind-button:before,
.icons8-rewind-button-2:before,
.icons8-shield:before,
.icons8-skull:before,
.icons8-slot-machine:before,
.icons8-sword:before,
.icons8-treatment:before,
.icons8-triforce:before,
.icons8-triggering:before,
.icons8-xbox-cross:before,
.icons8-yin-yang-outline:before {
  display: inline-block;
  font-family: "font_icons8";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icons8-aed:before { content: "\f100"; }
.icons8-aed-2:before { content: "\f101"; }
.icons8-angel:before { content: "\f102"; }
.icons8-archer:before { content: "\f103"; }
.icons8-arrow-pointing-to-right:before { content: "\f104"; }
.icons8-battle:before { content: "\f105"; }
.icons8-body-armor:before { content: "\f106"; }
.icons8-cat-footprint:before { content: "\f107"; }
.icons8-cat-footprint-2:before { content: "\f108"; }
.icons8-close-button:before { content: "\f109"; }
.icons8-clover:before { content: "\f10a"; }
.icons8-danger-sign-with-skull:before { content: "\f10b"; }
.icons8-deaf:before { content: "\f10c"; }
.icons8-defense:before { content: "\f10d"; }
.icons8-defense-filled:before { content: "\f10e"; }
.icons8-deltohedron:before { content: "\f10f"; }
.icons8-dice:before { content: "\f110"; }
.icons8-dodecahedron:before { content: "\f111"; }
.icons8-edit:before { content: "\f112"; }
.icons8-edit-2:before { content: "\f113"; }
.icons8-equestrian-statue:before { content: "\f114"; }
.icons8-fencing:before { content: "\f115"; }
.icons8-german-shepherd:before { content: "\f116"; }
.icons8-german-shepherd-2:before { content: "\f117"; }
.icons8-grim-reaper:before { content: "\f118"; }
.icons8-head-silhouette-with-cogwheels:before { content: "\f119"; }
.icons8-head-silhouette-with-cogwheels-2:before { content: "\f11a"; }
.icons8-hiragana-ki:before { content: "\f11b"; }
.icons8-hiragana-ki-2:before { content: "\f11c"; }
.icons8-horse:before { content: "\f11d"; }
.icons8-icosahedron:before { content: "\f11e"; }
.icons8-judo:before { content: "\f11f"; }
.icons8-left-arrow:before { content: "\f120"; }
.icons8-mad:before { content: "\f121"; }
.icons8-mad-2:before { content: "\f122"; }
.icons8-magic-wand:before { content: "\f123"; }
.icons8-magic-wand-2:before { content: "\f124"; }
.icons8-mana:before { content: "\f125"; }
.icons8-mana-filled:before { content: "\f126"; }
.icons8-meditation:before { content: "\f127"; }
.icons8-meditation-2:before { content: "\f128"; }
.icons8-minecraft-axe:before { content: "\f129"; }
.icons8-minecraft-sword:before { content: "\f12a"; }
.icons8-minus:before { content: "\f12b"; }
.icons8-minus-2:before { content: "\f12c"; }
.icons8-musical-filled:before { content: "\f12d"; }
.icons8-next-track-button:before { content: "\f12e"; }
.icons8-next-track-button-2:before { content: "\f12f"; }
.icons8-night-portrait:before { content: "\f130"; }
.icons8-octahedron:before { content: "\f131"; }
.icons8-ok:before { content: "\f132"; }
.icons8-parchment:before { content: "\f133"; }
.icons8-plus-sign:before { content: "\f134"; }
.icons8-plus-sign-2:before { content: "\f135"; }
.icons8-praying-symbol:before { content: "\f136"; }
.icons8-punching:before { content: "\f137"; }
.icons8-question-mark:before { content: "\f138"; }
.icons8-refresh:before { content: "\f139"; }
.icons8-rewind-button:before { content: "\f13a"; }
.icons8-rewind-button-2:before { content: "\f13b"; }
.icons8-shield:before { content: "\f13c"; }
.icons8-skull:before { content: "\f13d"; }
.icons8-slot-machine:before { content: "\f13e"; }
.icons8-sword:before { content: "\f13f"; }
.icons8-treatment:before { content: "\f140"; }
.icons8-triforce:before { content: "\f141"; }
.icons8-triggering:before { content: "\f142"; }
.icons8-xbox-cross:before { content: "\f143"; }
.icons8-yin-yang-outline:before { content: "\f144"; }