<div class="icon-selector">
  <ul class="resource-icon-list">
    <li *ngFor="let key of keysIcons" >
      <button (click)="selectIcon(iconsOptions[key])" [class]="iconValue === iconsOptions[key] ? iconsOptions[key] + ' selected' : iconsOptions[key]"></button>
    </li>
  </ul>
</div>
