// Variables
// --------------------------


@icons8-css-prefix: "icons8";
@icons8-font-name: "font_icons8";
@icons8-font-path: "../fonts";

@icons8-var-aed: "\f100";
@icons8-var-aed-2: "\f101";
@icons8-var-angel: "\f102";
@icons8-var-archer: "\f103";
@icons8-var-arrow-pointing-to-right: "\f104";
@icons8-var-battle: "\f105";
@icons8-var-body-armor: "\f106";
@icons8-var-cat-footprint: "\f107";
@icons8-var-cat-footprint-2: "\f108";
@icons8-var-close-button: "\f109";
@icons8-var-clover: "\f10a";
@icons8-var-danger-sign-with-skull: "\f10b";
@icons8-var-deaf: "\f10c";
@icons8-var-defense: "\f10d";
@icons8-var-defense-filled: "\f10e";
@icons8-var-deltohedron: "\f10f";
@icons8-var-dice: "\f110";
@icons8-var-dodecahedron: "\f111";
@icons8-var-edit: "\f112";
@icons8-var-edit-2: "\f113";
@icons8-var-equestrian-statue: "\f114";
@icons8-var-fencing: "\f115";
@icons8-var-german-shepherd: "\f116";
@icons8-var-german-shepherd-2: "\f117";
@icons8-var-grim-reaper: "\f118";
@icons8-var-head-silhouette-with-cogwheels: "\f119";
@icons8-var-head-silhouette-with-cogwheels-2: "\f11a";
@icons8-var-hiragana-ki: "\f11b";
@icons8-var-hiragana-ki-2: "\f11c";
@icons8-var-horse: "\f11d";
@icons8-var-icosahedron: "\f11e";
@icons8-var-judo: "\f11f";
@icons8-var-left-arrow: "\f120";
@icons8-var-mad: "\f121";
@icons8-var-mad-2: "\f122";
@icons8-var-magic-wand: "\f123";
@icons8-var-magic-wand-2: "\f124";
@icons8-var-mana: "\f125";
@icons8-var-mana-filled: "\f126";
@icons8-var-meditation: "\f127";
@icons8-var-meditation-2: "\f128";
@icons8-var-minecraft-axe: "\f129";
@icons8-var-minecraft-sword: "\f12a";
@icons8-var-minus: "\f12b";
@icons8-var-minus-2: "\f12c";
@icons8-var-musical-filled: "\f12d";
@icons8-var-next-track-button: "\f12e";
@icons8-var-next-track-button-2: "\f12f";
@icons8-var-night-portrait: "\f130";
@icons8-var-octahedron: "\f131";
@icons8-var-ok: "\f132";
@icons8-var-parchment: "\f133";
@icons8-var-plus-sign: "\f134";
@icons8-var-plus-sign-2: "\f135";
@icons8-var-praying-symbol: "\f136";
@icons8-var-punching: "\f137";
@icons8-var-question-mark: "\f138";
@icons8-var-refresh: "\f139";
@icons8-var-rewind-button: "\f13a";
@icons8-var-rewind-button-2: "\f13b";
@icons8-var-shield: "\f13c";
@icons8-var-skull: "\f13d";
@icons8-var-slot-machine: "\f13e";
@icons8-var-sword: "\f13f";
@icons8-var-treatment: "\f140";
@icons8-var-triforce: "\f141";
@icons8-var-triggering: "\f142";
@icons8-var-xbox-cross: "\f143";
@icons8-var-yin-yang-outline: "\f144";
