<div class="hitpoint-control">
  <div (click)="editing = !editing" class="hitpoint-display" [ngStyle]="{'background': getBackground(currentHitPoints, maximumHitPoints)}"
    [ngClass]="{'health-green':showGreenColor(),'health-yellow': showYellowColor(),'health-red': showRedColor(),'health-black': showBlackColor()}">
    <span>{{currentHitPoints}}</span>
    <span> / </span>
    <span>{{maximumHitPoints}}</span>
  </div>
  <div *ngIf="editing" class="columns buttons">
    <div class="column">
      <button (click)='removeHitPoints()' (mousedown)='mousedownRemoveHitPoints()' (mouseleave)='mouseup()' (mouseup)="mouseup()">
        -
      </button>
    </div>
    <div class="column">
      <button (click)='addHitPoints()' (mousedown)='mousedownAddHitPoints()' (mouseleave)='mouseup()' (mouseup)="mouseup()">
        +
      </button>
    </div>
  </div>

</div>
