.buttons{
  button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    background: black;
    color: white;
    width: 100%;
    border-radius: 5px;
  }
}

.hitpoint-control {
    width: 100%;
}

.hitpoint-display {
    border: 2px solid blue;
    border-radius: 3px;
    text-align: center;
    color: white;
    min-width: 50px;
    padding: 3px;
}

.health-green {
    border-color: green;
}

.health-yellow {
    border-color: #8a8a02;
    color: black;
}

.health-red {
    border-color: red;
}

.health-black {
    border-color: black;
}

