:host(.column){
  padding: 0;
}


.resource-component {
    position: relative;
    padding: 5px;
    letter-spacing: normal;
    font-size: 15px;
    &:hover {
        .management-options {
            display: flex;
        }
    }
    &.miniature-mode {
        border: 1px solid black;
        border-radius: 4px;
        text-align: center;
        .resource-buttons {
            button {
                border: none;
                cursor: pointer;
                font-size: 20px;
                width:100%;
                background: black;
                color: white;
                border-radius: 3px;
                &:disabled{
                  opacity: 0.5;
                }
            }
        }
    }
    .resource-pieces-list {
        display: flex;
        flex-wrap: wrap;
        button{
          padding: 0;
          font-size: 40px;
          border: 0;
          background: transparent;
          cursor: pointer;
        }
    }
    .disabled {
        opacity: 0.5;
    }
    .recovery-options {
        padding: 5px;
        border: 1px solid black;
        border-radius: 5px;
        background: white;
        text-align: center;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 99;
    }
    .management-options {
        display: none;
        border-radius: 4px;
        position: absolute;
        top: 98%;
        width: 100%;
        max-width: 100px;
        left: 0;
        border: 1px solid black;
        background: white;
        >div {
            padding: 0;
            text-align: center;
            button {
                padding: 0px;
                border:0;
                background: transparent;
                cursor: pointer;
            }
        }
    }
}
