<div [ngClass]="{'resource-component':true,'miniature-mode': characterResource.displayType < 3 }">
  <span class="resource-name">
    {{characterResource?.name}}
  </span> <br>

  <div *ngIf="characterResource.displayType > 2" class="resource-pieces-list">
    <button class="column is-3" *ngFor="let item of resourceList" [class]="!item.available ? 'disabled' : ''" (click)="item.available ? useResource() : recoverResource()">
      <i [class]="characterResource.icon"></i>
    </button>
  </div>
  <div class="resource-buttons" *ngIf="characterResource.displayType < 3">
    <button [disabled]="characterResource.currentQuantity === characterResource.maximumQuantity" (click)="recoverResource()">+</button>
    <br>
    <span>{{characterResource.currentQuantity}}</span>
    <br>
    <button [disabled]="!characterResource.currentQuantity" (click)="useResource()">-</button>
  </div>
  <div class="management-options columns is-gapless">
    <div class="column">
      <button class="icons8-close-button" (click)="removeResource()"></button>
    </div>
    <div class="column">
      <button class="icons8-edit-2" (click)="editResource()"></button>
    </div>
    <div class="column">
      <button class="icons8-refresh" (click)="changeDisplayMode()"></button>
    </div>
  </div>
</div>
