<div class="columns player-information" (dblclick)="edit.emit(player)">
  <div class="column">
    {{player.name}}
  </div>

  <div class="column is-1">
    {{player.initiativeBonus}}
  </div>

  <div class="column">
    <app-hit-points-control [currentHitPoints]='player.currentHitPoints' [maximumHitPoints]='player.maximumHitPoints'></app-hit-points-control>
  </div>

  <div class="column concentration-control">
    <i class="icons8-head-silhouette-with-cogwheels"></i>
  </div>

  <div class="column is-three-fifths">
    <app-player-resource-list [playerId]="player.id"></app-player-resource-list>
  </div>
</div>
