.initiative-controls {
  text-align: center;
    .initiative-display {
        .initiative-default-value {
            display: block;
        }
        .initiative-hover-value {
            display: none;
        }
        &:hover {
            .initiative-default-value {
                display: none;
            }
            .initiative-hover-value {
                display: block;
            }
        }
    }
    input {
        width: 50px;
    }
}
