<div class="reaction-control">
  <span *ngIf="!reactionReady" class="reaction-warning" (click)="useReaction()">Unable to react</span>
  <button [ngClass]="{'reaction-used': !reactionReady }" (click)="useReaction()">
    <i class="icons8-judo"></i>
  </button>
</div>
