.reaction-control{
  position: relative;
  text-align: center;
  .reaction-warning{
    position: absolute;
    font-size: 16px;
    user-select: none;
    color: #FF0000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
  }
  .reaction-used{
    opacity: 0.5;
  }
}

