.side-modal-overflow{
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
}

.side-modal{
  position: fixed;
  height: 100%;
  width: 30%;
  right: 0;
  top: 0;
  background-color: blue;
  z-index: 31;
}
