<div>
  <button (click)="startAddPlayer()">Add Player</button>
  <button (click)="effectsVisible = true">Control Effects</button>
</div>

<app-player-edit [player]="playerEdit$ | async" (save)="savePlayer($event)" (cancel)="cancelPlayerEdit()"></app-player-edit>
<app-character-effect-list [players]="players$ | async" [characterEffects]="effects$ | async" [visible]="effectsVisible" (hide)="effectsVisible=false"  ></app-character-effect-list>


<app-player-resource-edit [resource]="resourceEdit$ | async" (save)="saveResource($event)" (cancel)="cancelPlayerResourceEdit()" ></app-player-resource-edit>

<app-player-list [players]="players$ | async" (edit)="editPlayer($event)"></app-player-list>
