<div class="side-modal-overflow" *ngIf="visible" (click)="hideEffects()">
</div>
<div class="player-effect-modal" *ngIf="visible">
  <app-character-effect-edit [effect]="selectedEffect" (save)="saveEffect($event)" (cancel)="cancelEdit()" ></app-character-effect-edit>
  <div>
    <p class="modal-card-title">Current Active Effects</p>
  </div>
  <div>
    <button (click)="visible = false">Back</button>
    <button (click)="newEffect()">New Effect</button>
  </div>
  <div class="effects">
    <table class="table">
      <thead>
        <tr>
          <th>
            Players
          </th>
          <th *ngFor="let effectTitle of characterEffects" (dblclick)="selectedEffect = effectTitle">
            {{effectTitle.name}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of players">
          <td>{{player.name}}</td>
          <td *ngFor="let effect of characterEffects">
            <button class="effect-status" [ngClass]="{'hidden': !IsCharacterAffected(effect,player.id)}"  (click)="toggleEffect(effect,player.id)">
              <i class="icons8-ok"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
