<nav class="navbar is-black">
  <div class="navbar-menu">
    <a class="navbar-item" routerLinkActive="is-active"  routerLink="/player-management" >Player Management</a>
    <a class="navbar-item" routerLinkActive="is-active" routerLink="/npc-management" >NPC Management</a>
    <a class="navbar-item" routerLinkActive="is-active" routerLink="/encounters" >Encounters</a>
  </div>
</nav>
