/* You can add global styles to this file, and also import other style files */

.columns{
  .column{
    &:is-1{
      @media screen and (min-width: 769px){
        width: 8.333335%;
      }
    }
  }
}
