<div class="side-modal-overflow" *ngIf="effect" (click)="cancelEdit()">
  </div>
  <div class="character-effect-edit-modal" *ngIf="effect">
    <div>
      <p class="modal-card-title">Edit effect</p>
    </div>
    <div class="edit-form">
      <form [formGroup]="effectForm" class="pure-form">
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" type="text" placeholder="Effect name" required name="effect-name" formControlName="name">
            </div>
          </div>
          <div class="field">
            <label class="label">Duration</label>
            <div class="control" *ngIf="!longDuration">
              <input class="input" type="number" placeholder="Turn's duration" required name="turnsDuration" formControlName="turnsDuration">
            </div>
            <div class="control">
                <label class="checkbox">
                  <input type="checkbox" (click)="changeDuration(longDuration)" [checked]="longDuration">
                  Long Duration(Beyond turns/Undefined)
                </label>
              </div>
          </div>
          <div class="field">
            <label class="label">Count Type</label>
            <div class="control">
              <div class="select">
                <select name="count-type" formControlName="turnCountType" required>
                  <option *ngFor="let key of turnCountKeys" [label]="key" [value]="turnCountOptions[key]"></option>
                </select>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">Bind Type</label>
            <div class="control">
              <div class="select">
                <select name="bind-type"  formControlName="turnBindType" required>
                  <option *ngFor="let key of turnBindKeys" [label]="key" [value]="turnBindOptions[key]"></option>
                </select>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">Concentration</label>
            <div class="control">
              <label class="checkbox">
                <input type="checkbox" name="concentration"  formControlName="concentration">
                Concentration
              </label>
            </div>
          </div>
          <div class="field">
            <label class="label">Save per turn</label>
            <div class="control">
              <div class="select">
                <select name="save-per-turn"  formControlName="savePerTurn">
                  <option *ngFor="let key of saveKeys" [label]="key" [value]="saveOptions[key]"></option>
                </select>
              </div>
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button type="button" [disabled]="!effectForm.valid" (click)="saveEffect(effectForm.value)" class="button is-link">Save</button>
            </div>
            <div class="control">
              <button type="button" (click)="cancelEdit()" class="button is-light">Cancel</button>
            </div>
          </div>
      </form>
    </div>
  </div>
