<div class="side-modal-overflow" *ngIf="resource" (click)="cancelEdit()">
</div>
<div class="player-resource-edit-modal" *ngIf="resource">
  <div>
    <p class="modal-card-title">Modal title</p>
  </div>
  <div class="edit-form">
    <form [formGroup]="resourceForm" class="pure-form">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="Resource name" required name="player-name" formControlName="name">
          </div>
        </div>
        <div class="field">
          <label class="label">Quantity</label>
          <div class="control">
            <input class="input" type="number" placeholder="Maximum quantity" required name="maximum-quantity" formControlName="maximumQuantity">
          </div>
        </div>
        <div class="field">
          <label class="label">Recovery Mode</label>
          <div class="control">
            <div class="select">
              <select name="recovery-type" name="recovery-type" formControlName="recoveryType" required>
                <option *ngFor="let key of keysRecovery" [label]="key" [value]="recoveryOptions[key]"></option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Icon</label>
          <div class="control">
            <app-icon-selector formControlName="icon" required></app-icon-selector>
          </div>
        </div>


        <div class="field is-grouped">
          <div class="control">
            <button type="button" [disabled]="!resourceForm.valid" (click)="saveResource(resourceForm.value)" class="button is-link">Save</button>
          </div>
          <div class="control">
            <button type="button" (click)="cancelEdit()" class="button is-light">Cancel</button>
          </div>
        </div>
    </form>
  </div>
</div>
