<div class="interations-commands">
  <button class="attack-command">
    <i class="icons8-sword"></i> Damage
  </button>
  <button class="heal-command">
    <i class="icons8-xbox-cross"></i> Heal
  </button>
</div>
