.interations-commands{
  .attack-command{
    display: inline-block;
    border: 1px solid red;
    background: #f87474;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    padding: 3px;
    margin-right: 5px;
  }
  .heal-command{
    display: inline-block;
    border: 1px solid green;
    background: #69c98f;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    padding: 3px;
  }
}
